<!-- <div class="container">
  <div class="row"> -->
    <div class="col-md-4 col-lg-1 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> 编辑工作</h1>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :wage_lower_bound, :label => "薪资下限" %>
          <%= f.input :wage_upper_bound, :label => "薪资上限" %>
          <%= f.input :contact_email %>
          <%= f.input :is_hidden %>
          <%= f.submit "Submit",  class: 'btn btn-danger '%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-1 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> 编辑工作</h1>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :wage_lower_bound, :label => "薪资下限" %>
          <%= f.input :wage_upper_bound, :label => "薪资上限" %>
          <%= f.input :contact_email %>
          <%= f.input :is_hidden %>
          <%= f.submit "Submit",  class: 'btn btn-danger '%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-1 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> 编辑工作</h1>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :wage_lower_bound, :label => "薪资下限" %>
          <%= f.input :wage_upper_bound, :label => "薪资上限" %>
          <%= f.input :contact_email %>
          <%= f.input :is_hidden %>
          <%= f.submit "Submit",  class: 'btn btn-danger '%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-1 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> 编辑工作</h1>
        </div>
        <div class="panel-body">
          <%= simple_form_for @job do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :wage_lower_bound, :label => "薪资下限" %>
          <%= f.input :wage_upper_bound, :label => "薪资上限" %>
          <%= f.input :contact_email %>
          <%= f.input :is_hidden %>
          <%= f.submit "Submit",  class: 'btn btn-danger '%>
          <% end %>
        </div>
      </div>
    </div>


<!--
  </div>

</div> -->
