<!-- 网站头图 -->
<section class="jumbotron">
  <div class="container">
    <div id="landingpagebanner">

      <h1><%= image_tag("爱绘本.png") %>
      </h1>

      <p>
        - 给宝宝最好的爱
      </p>
      <p>
        <a class="btn btn-primary-welcome" href="#" role="button">开启旅程</a>
      </p>
    </div>
  </div>
</section>

<!--======== 年龄分组=========-->
<section id="agegroup">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">从出生开始阅读</h2>
        <div class="short-line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="age-box">
              <%= image_tag("0M_6M.png") %>
              <h3>0-6个月</h3>
              <p>绘本启蒙从出生开始<br/>
                鲜艳的颜色是小宝宝的最爱</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="age-box">
              <%= image_tag("6M_1Y.png") %>
              <h3>6-12个月</h3>
              <p>开始阅读故事性绘本<br/>爸爸妈妈要变身故事大王</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="age-box">
              <%= image_tag("1Y_2Y.png") %>
              <h3>1-2岁</h3>
              <p>边读边玩，互动游戏<br/>开启难忘的亲子阅读时光</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======== end 年龄分组 =========-->

<!--======== 绘本新作 =========-->
<section id="newbook">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="section-title">绘本新作</h2>
        <div class="short-line"></div>
      </div>
    </div>

    <div class="row bookrow">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 text-center">
        <div class="image-overlay">
          <%= image_tag("Book_Sleeping_Beauty.jpg") %>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs text-left">
        <div class="Intro">
          <p class="booktitle">Sleeping Beauty
          </p>
          <p class="author">
            Lynn Roberts-Maloney & David Roberts
          </p>
          <p class="bookdiscription">Young Annabel lives in the 1950s and dreams of a future with jetpacks, flying cars and robots. Little does she know that she’s living under a witch’s spell which means she could have no future at all. The evil spell comes
            true on Annabel’s sixteenth birthday and she falls asleep for a thousand years…</p>
        </div>
      </div>
      <div class="col-xs-12 visible-xs">
        <div class="Intro text-center">
          <p class="booktitle-xs-screen">Sleeping Beauty
          </p>
          <p class="author">
            Lynn Roberts-Maloney & David Roberts
          </p>
          <p class="bookdiscription  text-left">Young Annabel lives in the 1950s and dreams of a future with jetpacks, flying cars and robots. Little does she know that she’s living under a witch’s spell which means she could have no future at all. The evil spell comes
            true on Annabel’s sixteenth birthday and she falls asleep for a thousand years…</p>
        </div>
      </div>
    </div>

    <div class="row bookrow">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 text-center">
        <div class="image-overlay">
          <%= image_tag("Book_Hector_and_hummingbird.jpg") %>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs text-left">
        <div class="Intro">
          <p class="booktitle">HECTOR AND HUMMINGBIRD
          </p>
          <p class="author">
            Nicholas John Frith
          </p>
          <p class="bookdiscription">YIn the mountains of Peru, Hector the bear has a big problem: his friend Hummingbird just won’t be quiet! Whether Hector’s trying to enjoy a snack, get a good scratch against a tree, or take a nap, Hummingbird’s always
            buzzing around, asking too many questions. The pair have always been best friends, but will Hector ever find peace and quiet with Hummingbird around?
          </p>
        </div>
      </div>
      <div class="col-xs-12 visible-xs">
        <div class="Intro text-center">
          <p class="booktitle-xs-screen">HECTOR AND HUMMINGBIRD
          </p>
          <p class="author">
            Nicholas John Frith
          </p>
          <p class="bookdiscription text-left">YIn the mountains of Peru, Hector the bear has a big problem: his friend Hummingbird just won’t be quiet! Whether Hector’s trying to enjoy a snack, get a good scratch against a tree, or take a nap, Hummingbird’s always
            buzzing around, asking too many questions. The pair have always been best friends, but will Hector ever find peace and quiet with Hummingbird around?
          </p>
        </div>
      </div>
    </div>

    <div class="row bookrow">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 text-center">
        <div class="image-overlay">
          <%= image_tag("Book_Starry_night.jpg") %>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs text-left">
        <div class="Intro">
          <p class="booktitle">THE STARRY STARRY NIGHT
          </p>
          <p class="author">
            Jimmy Liao
          </p>
          <p class="bookdiscription">A girl, who used to live with her grandparents up in the mountains, moves to the city to live with her parents. She finds the city cold and distant, and her parents are always arguing. She misses her dear grandfather, who
            will soon die, and she dreams of laying in a field, looking up at the starry night above. Everything changes for the girl when a boy moves into the apartment across the street… ‘The Starry Starry Night’ is a magical story of sorrow and silence,
            courage and love.
          </p>
        </div>
      </div>

      <div class="col-xs-12 visible-xs">
        <div class="Intro text-center">
          <p class="booktitle-xs-screen">THE STARRY STARRY NIGHT
          </p>
          <p class="author">
            Jimmy Liao
          </p>
          <p class="bookdiscription text-left">A girl, who used to live with her grandparents up in the mountains, moves to the city to live with her parents. She finds the city cold and distant, and her parents are always arguing. She misses her dear grandfather, who
            will soon die, and she dreams of laying in a field, looking up at the starry night above. Everything changes for the girl when a boy moves into the apartment across the street… ‘The Starry Starry Night’ is a magical story of sorrow and silence,
            courage and love.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<!--======== end 绘本新作 =========-->

<!--======== 绘本大师 =========-->
<section id="masters">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="section-title">宝宝最爱的绘本作者</h2>
        <div class="short-line"></div>
        <div id="master-intro" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#master-intro" data-slide-to="0" class="active"></li>
            <li data-target="#master-intro" data-slide-to="1"></li>
            <li data-target="#master-intro" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <p>苏斯博士一生创作了48本绘本畅销2亿册，整个当代儿童阅读推广进程都与他有关，包括分级阅读、睡前故事和亲子阅读的传统。他的生日3月2日被定为全美读书日「Read Across America」。他笔下的人物独特又可爱，语言精致独特，充满了节奏和韵律。</p>
              <%= image_tag("DrSeuss_author.jpg") %>
              <strong>Dr.Seuss
              </strong>
            </div>
            <div class="item">

              <p>艾瑞克•卡尔爷爷是儿童绘本界的明星作家，极其善于把一系列的认知内容融入一个简单却有趣的小故事，富含哲理。代表作有《好饿的毛毛虫》、《爸爸，我要月亮》等，荣获多项世界著名儿童图画书奖。
              </p>
              <%= image_tag("Eric_Carle_author.jpg") %>
              <strong>Eric Carle</strong>
            </div>
            <div class="item">
              <p>Nina Laden善于利用为低幼儿童创作趣味性和互动性强的绘本，画面鲜艳，图形有趣，绘本由于不受语言限制，广受世界各国小宝宝喜爱。代表作有《猜猜我是谁》系列，《预备，出发！》</p>
              <%= image_tag("nina_laden_author.jpg") %>
              <strong>Nina Laden</strong>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======== end 绘本大师 =========-->
